DiamondApp/bin/Debug/DiamondApp.exe.config
DiamondApp/bin/Debug/DiamondApp.vshost.exe.config
DiamondApp/bin/Debug/DiamondApp.vshost.exe.manifest
DiamondApp/obj/Debug/*
DiamondApp/bin/Debug/*
DiamondApp/obj/Debug/App.g.cs
DiamondApp/obj/Debug/App.g.i.cs
DiamondApp/obj/Debug/DiamondApp.Properties.Resources.resources
DiamondApp/obj/Debug/DiamondApp.csproj.FileListAbsolute.txt
DiamondApp/obj/Debug/DiamondApp.g.resources
DiamondApp/obj/Debug/MainWindow.baml
DiamondApp/obj/Debug/MainWindow.g.cs
DiamondApp/obj/Debug/MainWindow.g.i.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBScripts/DiamondDB_v0.3.sql.orig
packages/Portable.MvvmLightLibs.5.0.2.0/*
packages/MvvmLightLibs.5.2.0.0/*
DiamondAppTests/obj/Debug/*
packages/NUnit.2.6.4/license.txt
packages/CommonServiceLocator.1.3/CommonServiceLocator.1.3.nupkg
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.XML
packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nupkg
packages/NUnit.2.6.4/NUnit.2.6.4.nupkg
DiamondAppTests/bin/Debug/GalaSoft.MvvmLight.xml
DiamondAppTests/bin/Debug/Microsoft.Practices.ServiceLocation.xml
DiamondAppTests/bin/Debug/nunit.framework.xml
Project Documents/~$neza v2.docx
packages/EntityFramework.6.1.1/content/App.config.transform
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.1/tools/EntityFramework.psd1
packages/EntityFramework.6.1.1/tools/EntityFramework.psm1
packages/EntityFramework.6.1.1/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.1/tools/init.ps1
packages/EntityFramework.6.1.1/tools/install.ps1
DiamondAppTests/bin/Debug/DiamondAppTests.dll.config
DiamondAppTests/bin/Debug/EntityFramework.SqlServer.xml
DiamondAppTests/bin/Debug/EntityFramework.xml
packages/EntityFramework.6.1.1/content/Web.config.transform
packages/NUnit.2.6.4/lib/nunit.framework.xml
DiamondAppTests/bin/Debug/DiamondApp.pdb
DiamondAppTests/bin/Debug/DiamondAppTests.pdb
DiamondAppTests/bin/Debug/GalaSoft.MvvmLight.pdb
DiamondAppTests/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.dll
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.pdb
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.dll
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.dll
packages/EntityFramework.6.1.1/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.1.1/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.1.1/tools/migrate.exe
packages/NUnit.2.6.4/lib/nunit.framework.dll
DiamondAppTests/bin/Debug/DiamondApp.exe
DiamondAppTests/bin/Debug/DiamondAppTests.dll
packages/repositories.config
DiamondAppTests/bin/Debug/Xceed.Wpf.Toolkit.dll
DiamondApp/ViewModels/AdminViewModel.cs.orig
DiamondApp/Views/AdminMainView.xaml.cs.orig
