DiamondApp/bin/Debug/DiamondApp.exe.config
DiamondApp/bin/Debug/DiamondApp.vshost.exe.config
DiamondApp/bin/Debug/DiamondApp.vshost.exe.manifest
DiamondApp/obj/Debug/*
DiamondApp/bin/Debug/*
DiamondApp/obj/Debug/App.g.cs
DiamondApp/obj/Debug/App.g.i.cs
DiamondApp/obj/Debug/DiamondApp.Properties.Resources.resources
DiamondApp/obj/Debug/DiamondApp.csproj.FileListAbsolute.txt
DiamondApp/obj/Debug/DiamondApp.g.resources
DiamondApp/obj/Debug/MainWindow.baml
DiamondApp/obj/Debug/MainWindow.g.cs
DiamondApp/obj/Debug/MainWindow.g.i.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiamondApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBScripts/DiamondDB_v0.3.sql.orig
packages/Portable.MvvmLightLibs.5.0.2.0/*
packages/MvvmLightLibs.5.2.0.0/*
DiamondAppTests/obj/Debug/*
